# Analytics — set to "true" to enable each provider
PUBLIC_ENABLE_PLAUSIBLE=false
PUBLIC_PLAUSIBLE_DOMAIN=dmrodriguez.net

PUBLIC_ENABLE_GA=false
PUBLIC_GA_ID=G-XXXXXXXXXX

PUBLIC_ENABLE_VERCEL_ANALYTICS=false
